@import '../fonts.scss';
@import '../colors.scss';

.parallax-container {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  
  .parallax-text {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
    gap: 30px;
    max-width: 900px;
  
    h2 {
      font-family: $font-secondary;
      font-size: 5em;
      color: $vnda-gray-color;
    }

    p {
      font-size: 1.2em;
      color: #fff;
      line-height: 150%;
      font-weight: 300;
    }

    .btn {
      font-size: 1em;
      color: #fff;
      background: #ff0157;
      display: inline-block;
      padding: 10px 30px;
      margin-top: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s;
  
      &:hover {
        letter-spacing: 6px;
      }
    }
  }
}


.parallax-section {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .swiper-container {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slide-1 {
  background-image: url('https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.slide-2 {
  background-image: url('https://images.unsplash.com/photo-1615937657715-bc7b4b7962c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
}

.slide-3 {
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
}

