@import '../fonts.scss';
@import '../colors.scss';

.third-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  width: 100%;

  .cta {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
  }

  .phrase {
    height: 50vh;
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    background: #fff;
    color: $vnda-secondary-color;

    p {
      font-size: 2rem;
      font-family: $font-primary;
    }
  }

  .background-section {
    width: 100vw;
    height: 100vh;
    background-color: $vnda-secondary-color;
    padding: 30px;
    display: flex;
    align-items: center;

    .right-image {
      display: none;
    }

    .left-text {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: start;
      gap: 40px;
      color: #fff;


      .header {
        display: flex;
        flex-direction: column;
        align-items: start;

        .section-title {
          color: $vnda-gray-color;
        }
      }
    }

    @media (min-width: 769px) {
      height: 80vh;

      .left-text {
        flex: 1;
      }

      .right-image {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position: center;
        
        img {
          height: 100%;
          width: 100%;
          object-fit: cover; // Para evitar distorções
        }
      }
    }
  }


  @media (min-width: 769px) {
    .phrase {
      height: 70vh;
      max-width: 1024px;
      padding: 50px;
      text-align: center;
  
      p {
        font-size: 2.5rem;
        font-family: $font-primary;
      }
    }
  }


}