<!-- navbar.html -->
<header>
  <a href="#" class="logo">Food teste<span>.</span></a>
  <div class="menuToggle" onclick="toggleMenu();"></div>
  <ul class="navigation">
    <li><a href="#banner" onclick="toggleMenu();">Home </a></li>
    <li><a href="#about" onclick="toggleMenu();">About </a></li>
    <li><a href="#menu" onclick="toggleMenu();">Menu</a></li>
    <li><a href="#expert" onclick="toggleMenu();">Expert </a></li>
    <li><a href="#testimonials" onclick="toggleMenu();">Testimonials</a></li>
    <li class="conta">
      <a href="#contact" onclick="toggleMenu();">Contact </a>
    </li>
  </ul>
</header>
