@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// Utils
@import './fonts.scss';
@import './colors.scss';

// Components
@import './components/navbar.scss';

// Sections
@import './sections/parallax.scss';
@import './sections/first-section.scss';
@import './sections/second-section.scss';
@import './sections/catalog.scss';